<head>
  <title>Login / PCMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg  %>
      </div>
    <% end %>
    <%= simple_form_for :login, { url: login_path, :html => { id: 'login-form'} } do |f| %>
      <legend>Login</legend>
      <%= f.input :username, placeholder: "Username", label: false %>
      <%= f.input :password, placeholder: "Password", label: false%>
      <%= f.submit "Log in", :class => "btn btn-primary" %>
    <% end %>
  </div>
</body>
