<%= month_calendar events: @calendar_days, title: calendar_title, header: calendar_header, previous_link: calendar_previous_link, next_link: calendar_next_link, table: calendar_table, td: calendar_td do |date, calendar_days| %>
  <%= date.day %>
  <% if !calendar_days.empty? %>
    <% calendar_day = calendar_days.first %>
    <div class="panel panel-default">
      <ul class="list-group">
        <% calendar_day.orders_due.each do |order| %>
          <li class="calendar-item list-group-item list-group-item-warning" data-toggle="popover" data-content="<%= "<dl class='dl-horizontal'><dt>Reserved</dt><dd>#{order.assigned_film_count("stock")}</dd><dt>WIP</dt><dd>#{order.assigned_film_count("wip")}</dd><dt>FG</dt><dd>#{order.assigned_film_count("fg")}</dd></dl>" %>" data-trigger="hover" data-html="true">
          <%= order.code %>
          <% if order.shipped? %>
            <span class="label label-success">S</span>
          <% end %>
          <% if !order.shipped? && order.past_due? %>
            <span class="label label-danger">P</span>
          <% end %>
          <% if order.on_hold? %>
            <span class="label label-info">H</span>
          <% end %>
          <% if order.shipped_late? %>
            <span class="label label-warning">L</span>
          <% end %>
          <span class="badge"><%= "#{order.total_quantity}" %></span>
          </li>
        <% end %>
      </ul>
      <div class="panel-footer">
        <dl class="dl-horizontal">
          <dt>Reserved</dt>
          <dd><%= calendar_day.progress_count[:reserved] %></dd>
          <dt>WIP</dt>
          <dd><%= calendar_day.progress_count[:wip] %></dd>
          <dt>FG</dt>
          <dd><%= calendar_day.progress_count[:fg] %></dd>
          <dt>Shipped</dt>
          <dd><%= calendar_day.progress_count[:shipped] %></dd>
          <dt>Total pcs</dt>
          <dd><%= calendar_day.progress_count[:total] %></dd>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
