<tr>
  <td class="serial"><%= fg_film_movement.serial %></span></td>
  <td class="dimensions"><%= "#{fg_film_movement.width} x #{fg_film_movement.length}" %></td>
  <td class="sales_order"><%= fg_film_movement.film.sales_order_code %></td>
  <td class="whodunnit"><%= fg_film_movement.actor %></td>
  <td class="created_at"><%= fg_film_movement.datetime_display %></td>
</tr>
