<tr>
  <td class="serial"><%= film_movement.film.serial if film_movement.film %></td>
  <td class="from"><%= film_movement.from %></td>
  <td class="to"><%= film_movement.to %></td>
  <td class="user_name"><%= film_movement.user.name if film_movement.user %></td>
  <td class="area"><%= number_with_precision(film_movement.area, precision: 2) %></td>
  <td class="created_at"><%= film_movement.created_at.strftime("%m/%d/%y %H:%M") %></td>
</tr>
