<tr>
  <td class="serial"><%= film_movement.film.serial %></td>
  <td class="from"><%= film_movement.from %></td>
  <td class="to"><%= film_movement.to %></td>
  <td class="area"><%= film_movement.area %></td>
  <td class="created_at"><%= film_movement.created_at %></td>
</tr>
