<tr>
  <td class="serial"><%= film_movement.film.serial if film_movement.film %></td>
  <td class="from"><%= film_movement.from %></td>
  <td class="to"><%= film_movement.to %></td>
  <td class="user_name"><%= film_movement.user.name if film_movement.user %></td>
  <td class="area"><%= film_movement.area %></td>
  <td class="created_at"><%= l film_movement.created_at, format: :short %></td>
</tr>
