<tr>
  <td class="serial"><%= reserved_checkout.film.serial if reserved_checkout.film %></td>
  <td class="from"><%= reserved_checkout.from %></td>
  <td class="from"><%= reserved_checkout.to %></td>
  <td class="user_name"><%= reserved_checkout.user.name if reserved_checkout.user %></td>
  <td class="customer"><%= reserved_checkout.film.customer if reserved_checkout.film %></td>
  <td class="sales_order_code"><%= reserved_checkout.film.sales_order_code if reserved_checkout.film %></td>
  <td class="custom_width"><%= reserved_checkout.film.custom_width if reserved_checkout.film %></td>
  <td class="custom_length"><%= reserved_checkout.film.custom_length if reserved_checkout.film %></td>
  <td class="custom_area"><%= number_with_precision(reserved_checkout.film.custom_area, precision: 2) if reserved_checkout.film %></td>
  <td class="utilization"><%= number_to_percentage(reserved_checkout.film.utilization*100, precision: 2) if reserved_checkout.film %></td>
  <td class="reserved_for"><%= reserved_checkout.film.reserved_for if reserved_checkout.film %></td>
  <td class="created_at"><%= reserved_checkout.created_at.strftime("%m/%d/%y %H:%M") %></td>
</tr>
