<%= render 'search_form', path: history_index_path %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#table" data-toggle="tab">Table</a></li>
  <li><a href="#movement-map" data-toggle="tab">Movement map</a></li>
  <li><a href="#dimensions-map" data-toggle="tab">Dimensions map</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="table">
    <%= link_to "Export", history_index_path(params.merge(format: "csv")), id: "fg-movements-export", class: "btn btn-default" %>

    <%= paginate @film_movements %>

    <% content_for :table_header do %>
      <tr>
        <th>Serial</th>
        <th>Movement</th>
        <th>Dimensions</th>
        <th>Order</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    <% end %>

    <% content_for :table_body do %>
      <%= render partial: "film_movement", collection: @film_movements %>
    <% end %>


    <%= render "shared/table" %>
  </div>
  <div class="tab-pane" id="movement-map">
    <%= render 'movement_map', movements: @film_movements %>
  </div>
  <div class="tab-pane" id="dimensions-map">
    <%= render 'dimensions_map', data: @dimensions_map_data %>
  </div>
</div>
