<div class="row">
  <div class="col-md-4">
    <h3>Import job orders from CSV</h3>
    <%= form_tag import_job_orders_path, multipart: true do %>
      <div class="form-group">
        <%= file_field_tag :job_orders_csv %>
      </div>
      <div class="form-group">
        <%= label_tag :date_type, "Planned or Actual?" %>
        <%= select_tag :date_type, options_for_select(["actual", "planned"], "actual"), class: "form-control" %>
      </div>
      <%= submit_tag "Import", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

