<tr id="<%= "masterfilm-#{master_film.id}" %>">
  <td>
    <%= link_to_modal_edit(edit_master_film_path(master_film), master_film, class: "edit-master-film") %>
  </td>
  <td class="serial"><%= master_film.serial %></td>
  <td class="formula"><%= master_film.formula %></td>
  <td class="mix_mass"><%= master_film.mix_mass %></td>
  <td class="machine_code"><%= master_film.machine_code %></td>
  <td class="film_code_top"><%= master_film.film_code_top %></td>
  <td class="film_code_bottom"><%= master_film.film_code_bottom %></td>
  <td class="thinky_code"><%= master_film.thinky_code %></td>
  <td class="chemist"><%= master_film.chemist %></td>
  <td class="operator"><%= master_film.operator %></td>
  <td class="inspector"><%= master_film.inspector %></td>
  <td class="effective_width"><%= master_film.effective_width %></td>
  <td class="effective_length"><%= master_film.effective_length %></td>
  <td class="yield"><%= format_yield(master_film.yield) %></td>
  <td class="defects_sum">
    <span class="badge" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= master_film.defects.map { |k,v| "#{k} #{v}" }.join("<br\>") %>">
      <%= master_film.defects_sum %>
    </span>
  </td>
  <td class="serial_date"><%= master_film.serial_date %></td>
  <td class="note"><%= master_film.note %></td>
</tr>
