<%= modal_form_for @master_film do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center"><%= @master_film.serial %></h4>
  </div>
  <div class="modal-body">
    <%= serial_input_if_admin(f) %>
    <div class="form-group">
      <%= label_tag "Effective", nil, class: "control-label col-md-2" %>
      <div class="col-md-4">
        <%= f.number_field :effective_width, placeholder: "Width", step: "any", class: "form-control", default: true %>
      </div>
      <div class="col-md-4">
        <%= f.number_field :effective_length, placeholder: "Length", step: "any", class: "form-control", default: true %>
      </div>
    </div>
    <%= render 'master_film_fields', f: f %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
