<h3 class="text-center"><%= @master_film.serial %></h3>
<%= simple_form_for @master_film, remote: true, html: { class: 'form-horizontal modal-form' } do |f| %>
  <%= f.input :formula %>
  <%= f.input :mix_mass %>
  <%= f.input :machine_id, collection: Machine.all, value_method: :id, label_method: :code %>
  <%= f.input :film_code %>
  <%= f.input :thinky_code %>
  <%= f.input :chemist_id, collection: User.chemists, value_method: :id, label_method: :name %>
  <%= f.input :operator_id, collection: User.operators, value_method: :id, label_method: :name %>
  <%= render("defects_fieldset", f: f) %>
  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-success" %>
    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
