<%= paginate @master_films %>

<%= link_to "Export", master_films_path(format: "csv"), id: "master-films-export", class: "btn btn-default" %>

<% content_for :table_header do %>
  <tr>
    <th></th>
    <th>Serial</th>
    <th>Formula</th>
    <th>Mix/g</th>
    <th>Mach</th>
    <th>ITO</th>
    <th>Thinky</th>
    <th>Chemist</th>
    <th>Operator</th>
    <th>Eff W</th>
    <th>Eff L</th>
    <th>Eff Area</th>
    <th>Yield</th>
    <th>Defects</th>
    <th>Defects sum</th>
    <th>Created</th>
  </tr>
  <% if current_user.is_supervisor? %>
    <tr>
      <th colspan="100%">
        <%= link_to "Enter film", new_master_film_path, { class: "btn btn-primary btn-block text-center", :"data-toggle" => "modal", :"data-target" => "#forms-modal" } %>
      </td>
    </tr>
  <% end %>
<% end %>

<% content_for :table_body do %>
  <%= render @master_films %>
<% end %>

<%= render "shared/table" %>
