<% row_class = "" if local_assigns[:row_class].nil? %>
<tr id="<%= "user-#{user.id}" %>" class="<%= row_class %>">
  <td><%= link_to "Edit", edit_user_path(user), 
    { :"data-toggle" => "modal", :"data-target" => "#user-actions-modal" } %></td>
  <td class="full_name"><%= user.full_name %></td>
  <td class="username"><%= user.username %></td>
  <td class="chemist"><%= user.chemist %></td>
  <td class="operator"><%= user.operator %></td>
  <td class="active"><%= user.active %></td>
</tr>
