<h3 class="text-center">Enter user</h3>
<%= simple_form_for @user, url: users_path, remote: true, html: { class: 'form-horizontal modal-form' } do |f| %>
  <%= f.input :full_name %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :chemist %>
  <%= f.input :operator %>
  <%= f.input :active %>
  <%= f.button :submit, "Create user", class: "btn btn-success" %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<% end %>
