<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <%= link_to "Avionics", root_url(subdomain: 'avionics'), class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Production Calendar", avionics_job_dates_path %></li>
      <li><%= link_to "Job Orders", avionics_job_orders_path %></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Import job orders from CSV</h3>
      <%= form_tag import_csv_avionics_job_orders_path, multipart: true do %>
        <div class="form-group">
          <%= file_field_tag :job_orders_csv %>
        </div>
        <div class="form-group">
          <%= label_tag :date_type, "Planned or Actual?" %>
          <%= select_tag :date_type, options_for_select(["planned", "actual"], "planned"), class: "form-control" %>
        </div>
        <%= submit_tag "Import", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
