<%= form_tag area_shipped_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<script>
  $(function () {
    $('#area_shipped').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Area of film and glass shipped by week'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Area'
        }
      },
      tooltip: {
        shared: true
      },
      plotOptions: {
        column: {
          pointPadding: 0,
          groupPadding: 0,
          stacking: 'normal'
        }
      },
      series: [
      {
        name: 'Film',
        data: [
        <% @chart.area_shipped_by_date.each do |point| %>
          [<%= point[:week_start].to_datetime.to_i*1000 %>, <%= point[:shipped_film_area] %>],
        <% end %>
        ]
        }, {
        name: 'Glass',
        data: [
        <% @chart.area_shipped_by_date.each do |point| %>
          [<%= point[:week_start].to_datetime.to_i*1000 %>, <%= point[:shipped_glass_area] %>],
        <% end %>
        ]
        } , {
        type: 'pie',
        name: 'Total shipped',
        data: [{
          name: 'Film',
          y: <%= @chart.total_film_area_shipped %>,
          color: Highcharts.getOptions().colors[0]
          }, {
          name: 'Glass',
          y: <%= @chart.total_glass_area_shipped %>,
          color: Highcharts.getOptions().colors[1]
        }],
        center: [70, 70],
        size: 100,
        showInLegend: false,
        dataLabels: {
          enabled: false
        }
      }]
    });
  });
</script>
<div id="area_shipped" class="chart"></div>
