<%= form_tag area_shipped_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <div class="form-group col-md-2">
      <div class="input-group">
        <%= text_field_tag :start_date, params[:start_date], placeholder: "Start", class: "form-control bootstrap-datepicker" %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <div class="form-group col-md-2">
      <div class="input-group">
        <%= text_field_tag :end_date, params[:end_date], placeholder: "End", class: "form-control bootstrap-datepicker" %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>
<span><%= "Total film shipped: #{number_with_precision(@total_film_shipped, precision: 2)}" %></span>
<span><%= "Total glass shipped: #{number_with_precision(@total_glass_shipped, precision: 2)}" %></span>

<script>
  $(function () {
    $('#area_shipped').highcharts({
      chart: {
        type: 'area',
        zoomType: 'x'
      },
      title: {
        text: 'Area shipped'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Area'
        }
      },
      tooltip: {
        shared: true
      },
      plotOptions: {
        area: {
          stacking: 'normal'
        }
      },
      series: [
        {
          name: 'Film',
          data: [
          <% @film_shipped.each do |point| %>
            [<%= point[0].to_datetime.to_i*1000 %>, <%= point[1] %>],
          <% end %>
          ]
        }, {
          name: 'Glass',
          data: [
          <% @glass_shipped.each do |point| %>
            [<%= point[0].to_datetime.to_i*1000 %>, <%= point[1] %>],
          <% end %>
          ]
        }
      ]
    });
  });
</script>
<div id="area_shipped" class="chart"></div>
