<%= form_tag cycle_time_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<script>
  $(function () {
    $('#cycle_time').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Cycle Time'
      },
      xAxis: {
        title: {
          text: 'Days'
        },
        type: 'category',
        categories: <%= raw(@chart.count_grouped_by_cycle_time.keys) %>
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Count'
        }
      },
      series: [
      {
        name: 'Count',
        data: <%= raw(@chart.count_grouped_by_cycle_time.values) %>
      }]
    });
  });
</script>
<div id="cycle_time" class="chart"></div>
