<script>
  $(function () {
    $('#film-movement').highcharts({

      chart: {
        type: 'column'
      },

      title: {
        text: 'Film movement'
      },

      xAxis: {
        categories: ['Lamination', 'Inspection', 'Stock', 'WIP', 'FG', 'Test', 'NC', 'Scrap']
      },

      yAxis: {
        title: {
          text: 'SQFT'
        }
      },

      tooltip: {
        formatter: function() {
          return '<b>'+ this.x +'</b><br/>'+
          this.series.name +': '+ this.y +'<br/>'+
          'Total: '+ this.point.stackTotal;
        }
      },

      plotOptions: {
        column: {
          stacking: 'normal'
        }
      },

      series: [
      <% @data.each do |point| %>
        { 
          name: "<%= point[0] %>",
          data: [
          <%= point[1]["lamination"] || 0 %>, 
          <%= point[1]["inspection"] || 0 %>, 
          <%= point[1]["stock"] || 0 %>, 
          <%= point[1]["wip"] || 0 %>, 
          <%= point[1]["fg"] || 0 %>, 
          <%= point[1]["test"] || 0 %>, 
          <%= point[1]["nc"] || 0 %>, 
          <%= point[1]["scrap"] || 0 %>
          ]
        },
      <% end %>
      ]
    });
  });
</script>
<div id="film-movement" class="chart"></div>
