<%= form_tag lead_time_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<script>
  $(function () {
    $('#cycle_time').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Lead Time'
      },
      subtitle: {
        text: "<%= @chart.total_orders %> total orders"
      },
      xAxis: {
        title: {
          text: 'Days'
        },
        type: 'category',
        categories: <%= raw(@chart.count_grouped_by_cycle_time(nil).keys) %>
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Count'
        }
      },
      plotOptions: {
        series: {
          stacking: 'normal'
        }
      },
      series: [{
        name: 'PD',
        data: <%= raw(@chart.count_grouped_by_cycle_time('PD%').values) %>
        }, {
        name: 'PT',
        data: <%= raw(@chart.count_grouped_by_cycle_time('PT%').values) %>
        }, {
        name: 'SP',
        data: <%= raw(@chart.count_grouped_by_cycle_time('SP%').values) %>
        }, {
        name: 'RP',
        data: <%= raw(@chart.count_grouped_by_cycle_time('RP%').values) %>
      } ]
    });
  });
</script>
<div id="cycle_time" class="chart"></div>
