<%= form_tag movement_summary_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="form-group">
    <div class="col-md-8">
      <div class="input-group">
        <%= text_field_tag :start_date, params[:start_date], class: "form-control bootstrap-datepicker", default: true %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <div class="input-group">
        <%= text_field_tag :end_date, params[:end_date], class: "form-control bootstrap-datepicker", default: true %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <td></td>
      <% @phases_in_order.each do |p| %>
        <td><strong><%= p %></strong></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>raw</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[[nil, p]] %></td>
      <% end %>
    </tr>
    <tr>
    <tr>
      <td><strong>lamination</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["lamination", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>inspection</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["inspection", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>stock</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["stock", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>wip</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["wip", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>fg</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["fg", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>test</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["test", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>nc</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["nc", p]] %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>scrap</strong></td>
      <% @phases_in_order.each do |p| %>
        <td><%= @data[["scrap", p]] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
