<%= form_tag movement_summary_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <td></td>
      <% PhaseDefinitions::HARD_PHASES.each do |p| %>
        <td><strong><%= p %></strong></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% PhaseDefinitions::HARD_PHASES.each do |from_phase| %>
      <tr>
        <td><strong><%= from_phase %></strong></td>
        <% PhaseDefinitions::HARD_PHASES.each do |to_phase| %>
          <% if @film_movement_totals_hash[[from_phase, to_phase]] %>
            <td class="row warning">
              <span class="col-md-4"><%= "#{@film_movement_totals_hash[[from_phase, to_phase]][0]}" %></span> 
              <strong class="col-md-1">|</strong> 
              <span class="col-md-6"><%= "#{@film_movement_totals_hash[[from_phase, to_phase]][1]}" %></span>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
