<%= form_tag utilization_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<script>
  $(function () {
    $('#utilization').highcharts({
      chart: {
        type: 'spline',
        zoomType: 'x'
      },
      title: {
        text: 'Utilization'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Utilization'
        }
      },
      series: [{
        name: 'Utilization',
        data: [
        <% @data.each do |point| %>
          [<%= point[:week_start].to_datetime.to_i*1000 %>, <%= point[:average_util] %>],
        <% end %>
        ]
      }]
    });
  });
</script>
<div id="utilization" class="chart"></div>
