<%= form_tag utilization_chart_path, method: :get, class: 'form-inline search' do %>
  <div class="row">
    <%= render 'shared/date_range_fields' %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default col-md-1" %>
  </div>
<% end %>

<script>
  $(function () {
    $('#utilization').highcharts({
      chart: {
        type: 'scatter',
        zoomType: 'x'
      },
      title: {
        text: 'Utilization'
      },
      xAxis: {
        type: 'category',
        labels: {
          rotation: 90
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Utilization'
        }
      },
      series: [
        {
          yAxis: 0,
          name: 'Utilization',
          data: [
          <% @data.each do |point| %>
            ["<%= point[:code] %>", <%= point[:utilization] %>],
          <% end %>
          ]
        }, {
          type: 'line',
          name: 'Average',
          data: [[0, <%= @average %>], [<%= @data.count-1 %>, <%= @average %>]],
          marker: {
            enabled: false
          }
        }
      ]
    });
  });
</script>
<div id="utilization" class="chart"></div>
