<div class="form-group">
  <%= f.label :width, "Dimensions", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.number_field :width, placeholder: "Width", step: "any", class: "form-control", default: true %>
  </div>
  <div class="col-md-4">
    <%= f.number_field :length, placeholder: "Length", step: "any", class: "form-control", default: true %>
  </div>
</div>
<%= f.text_field :shelf, class: "form-control" %>
<div class="form-group">
  <%= f.label :sales_order_id, "SO", class: "control-label col-md-2" %>
  <div class="col-md-5">
    <%= f.collection_select :sales_order_id, film.sales_order ? SalesOrder.unshipped.to_set << film.sales_order : SalesOrder.unshipped, :id, :code, { include_blank: "---" }, class: "form-control", default: true %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :order_fill_count, placeholder: "Count", class: "form-control", default: true %>
  </div>
</div>
<%= f.text_area :note, class: "form-control" %>
<% if current_user.is_supervisor? %>
  <%= f.select :destination, PhaseDefinitions.destinations_for(film.phase), { prompt: "Move to..." }, { class: "form-control", label: false } %>
<% end %>
