<%= render 'shared/dimensions_fields', f: f, label: "Dimensions", width: :width, length: :length %>
<%= f.text_field :shelf %>
<div class="form-group">
  <%= f.label :sales_order_id, "SO", class: "control-label col-md-2" %>
  <div class="col-md-5">
    <%= f.collection_select :sales_order_id, sales_order_assign_choices(film), :id, :code, { include_blank: "---" }, class: "form-control", default: true %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :order_fill_count, placeholder: "Count", class: "form-control", default: true %>
  </div>
</div>
<%= f.text_area :note %>
<%= f.select :destination, PhaseDefinitions.destinations_for(film.phase), { prompt: "Move to..." }, { label: false } %>
