<tr id="<%= "film-#{film.id}" %>">
  <td><%= check_box_tag "film_ids[]", film.id %></td>
  <td>
  <%= link_to "Edit", edit_film_path(film), { :"data-toggle" => "modal", :"data-target" => "#film-actions-modal" } %>
  <%= link_to('Split', split_film_path(film), { :"data-toggle" => "modal", :"data-target" => "#film-actions-modal" }) if film.phase == "stock" %>
  </td>
  <td class="serial"><%= film.serial %></td>
  <td class="formula"><%= film.formula %></td>
  <%= table_values_for(params[:scope], film) %>
  <td class="reserved_for"><%= film.reserved_for %></td>
  <td class="note"><%= film.note %></td>
  <td><%= l film.updated_at, format: :short %></td>
  <td><%= l film.created_at, format: :short %></td>
</tr>
