<%= f.fields_for :dimensions do |df| %>
  <%= render 'dimension_fields', f: df %>
<% end %>
<div class="add-fields-link-wrapper form-group">
  <div class="col-md-offset-2 col-md-8">
    <%= link_to_add_fields "Add dimensions", f, :dimensions %>
  </div>
</div>
<%= f.text_field :shelf %>
<div class="form-group">
  <%= f.label :sales_order_id, "SO", class: "control-label col-md-2" %>
  <div class="col-md-5">
    <%= f.collection_select :sales_order_id, sales_order_assign_choices(film), :id, :code, { include_blank: "---" }, class: "form-control", default: true %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :order_fill_count, placeholder: "Count", class: "form-control", default: true %>
  </div>
</div>
<%= f.fields_for :solder_measurements do |smf| %>
  <%= render 'solder_measurement_fields', f: smf %>
<% end %>
<div class="add-fields-link-wrapper form-group">
  <div class="col-md-offset-2 col-md-8">
    <%= link_to_add_fields "Add solder measurement", f, :solder_measurements %>
  </div>
</div>
<%= f.text_area :note %>
<div class="form-group">
  <div class="col-md-offset-2 col-md-8">
    <%= select_tag :destination, options_for_select(destination_choices([film])), { prompt: "Move to...", class: "form-control" } %>
  </div>
</div>
