<tr id="<%= "film-#{film.id}" %>">
  <td class="select-box"><%= select_box(film) %></td>
  <td class="actions">
    <%= link_to_edit_or_restore(film) %>
    <%= link_to_split(film) %>
  </td>
  <td class="serial">
    <strong><%= film.serial %></strong> <span class="label label-default"><%= film.formula %></span>
  </td>
  <td class="width">
    <%= film.width %>
    <%= tag('br') + film.second_width.to_s if film.respond_to?(:second_width) %>
  </td>
  <td class="length">
    <%= film.length %>
    <%= tag('br') + film.second_length.to_s if film.respond_to?(:second_length) %>
  </td>
  <td class="area">
    <%= "#{film.area} #{utilization_label(film.width, film.length)}".html_safe  %>
    <%= tag('br') + "#{film.second_area} #{utilization_label(film.second_width, film.second_length)}".html_safe if film.respond_to?(:second_width) && film.respond_to?(:second_length) %>
  </td>
  <td class="shelf"><%= film.shelf %></td>
  <td class="order">
    <%= film.sales_order_code %>
    <%= fill_count_badge(film) %>
  </td>
  <td class="note"><%= film.note %></td>
</tr>
