<tr id="<%= "film-#{film.id}" %>">
  <td class="select-box"><%= select_box(film) %></td>
  <td class="actions">
    <%= link_to_edit_or_restore(film) %>
    <%= link_to_split(film) %>
  </td>
  <td class="serial">
    <strong><%= film.serial %></strong> <span class="label label-default"><%= film.formula %></span>
  </td>
  <td class="width">
    <%= dimension_cell(film, "width") %>
  </td>
  <td class="length">
    <%= dimension_cell(film, "length") %>
  </td>
  <td class="area">
    <%= area_cell(film) %>
  </td>
  <td class="shelf"><%= film.shelf %></td>
  <td class="order">
    <%= film.sales_order_code %>
    <%= fill_count_badge(film) %>
  </td>
  <td class="note"><%= film.note %></td>
</tr>
