<td><%= film.formula %></td>
<td><%= film.mix_mass %></td>
<td><%= film.machine_code %></td>
<td><%= film.film_code %></td>
<td><%= film.thinky_code %></td>
<td><%= film.chemist_name %></td>
<td><%= film.operator_name %></td>
