<td class="mix_mass"><%= film.mix_mass %></td>
<td class="machine_code"><%= film.machine_code %></td>
<td class="film_code"><%= film.film_code %></td>
<td class="thinky_code"><%= film.thinky_code %></td>
<td class="chemist_name"><%= film.chemist_name %></td>
<td class="operator_name"><%= film.operator_name %></td>
