<%= modal_form_for @film do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center"><%= @film.serial %></h4>
  </div>
  <div class="modal-body">
    <%= render 'film_fields', f: f, film: @film %>
  </div>
  <div class="modal-footer">
    <% if current_user.is_admin? %>
      <%= f.check_box :deleted %>
    <% end %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
