<h3 class="text-center"><%= @film.serial %></h3>
<%= simple_form_for @film, remote: true, html: { class: 'form-horizontal modal-form' } do |f| %>
  <%= edit_fields_for @film.phase, f %>
  <%= f.input :reserved_for, as: :string %>
  <%= f.input :note, input_html: { rows: 3 } %>
  <%= render("defects_fieldset", f: f) if @film.phase == "inspection" %>
  <%= f.input :destination, collection: @film.valid_destinations, include_blank: true, label: "Move to", class: "destination-select" %>
  <%= render 'backend_destination_fields', f: f if %w(inspection wip fg).include?(@film.phase) %>
  <%= render 'checkout_destination_fields', f: f if %w(inspection stock).include?(@film.phase) %>
  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-success" %>
    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    <div class="inline-fields pull-right">
      <%= f.input :deleted, label: false, inline_label: "Delete" %>
    </div>
  </div>
<% end %>
