<%= form_tag edit_multiple_films_path, id: "get-edit-multiple", method: :get, remote: true do %>
  <%= submit_tag "Move selected", id: "films-edit-multiple", class: "btn btn-default", disabled: 'disabled' %>
  <%= link_to_export(method(:films_path), params) %>

  <%= paginate @films %>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Sort: <strong><%= sort.humanize %></strong> 
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="<%= "active" if params[:sort] == 'serial' %>"><%= link_to "Serial", url_for(params.merge(sort: 'serial', direction: 'desc')) %></li>
      <li class="<%= "active" if params[:sort] == 'area' %>"><%= link_to "Area", url_for(params.merge(sort: 'area', direction: 'desc')) %></li>
      <li class="<%= "active" if params[:sort] == 'shelf' %>"><%= link_to "Shelf", url_for(params.merge(sort: 'shelf', direction: 'asc')) %></li>
    </ul>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Serial</th>
        <th>Width</th>
        <th>Length</th>
        <th>Area</th>
        <th>Shelf</th>
        <th>SO</th>
        <th>Note</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%= render @films %>
    </tbody>
  </table>
<% end %>
