<%= render 'search_form' %>

<span>
  <!-- count must be count(:all) to accommodate pg_search query -->
  Count: <strong><%= filtered_films.count(:all) %></strong>
  Area: <strong><%= filtered_films.total_area %></strong>
</span>

<%= form_tag edit_multiple_films_path, id: "get-edit-multiple", method: :get, remote: true do %>
  <%= submit_tag "Move selected", id: "films-edit-multiple", class: "btn btn-default", disabled: 'disabled' %>
  <%= link_to_export(method(:films_path), params) %>

  <%= paginate films %>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><%= sort_link 'films.serial', "Serial" %></th>
        <th>Width</th>
        <th>Length</th>
        <th><%= sort_link 'area' %></th>
        <th><%= sort_link 'shelf' %></th>
        <th>SO</th>
        <th><%= sort_link 'note' %></th>
      </tr>
    </thead>
    <tbody>
      <%= render films %>
    </tbody>
  </table>
<% end %>
