<%= render 'search_form' %>

<%= form_tag edit_multiple_films_path, id: "get-edit-multiple", method: :get, remote: true do %>
  <%= submit_tag "Move selected", id: "film-edit-multiple", class: "btn btn-default", disabled: 'disabled' %>
  <%= link_to "Export", films_path(scope: params[:scope], query: params[:query], :'min-width' => params[:"min-width"], :'min-length' => params[:"min-length"], :'max-width' => params[:"max-width"], :'max-length' => params[:"max-length"], format: "csv"), id: "master-films-export", class: "btn btn-default" %>
  <span>Count: <strong><%= @count %></strong></span>
  <span>Area: <strong><%= number_with_precision(@total_area, precision: 2) %></strong></span>

  <%= paginate @films %>

  <% content_for :table_header do %>
    <tr>
      <th></th>
      <th></th>
      <th>Serial</th>
      <th>Width</th>
      <th>Length</th>
      <th>Area</th>
      <th>Shelf</th>
      <th>SO</th>
      <th>Note</th>
    </tr>
  <% end %>

  <% content_for :table_body do %>
    <%= render @films %>
  <% end %>

  <%= render "shared/table" %>
<% end %>
