<%= modal_form_for @film, url: create_split_film_path, dialog_class: 'wide' do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center">Split</h4>
  </div>
  <div class="modal-body row">
    <div class=col-md-6>
      <fieldset class="panel panel-warning original-fields">
        <div class="panel-heading">
          <h6 class="panel-title text-center"><%= @film.serial %></h6>
        </div>
        <div class="panel-body">
          <%= render 'film_fields', f: f, film: @film %>
        </div>
      </fieldset>
    </div>
    <div class=col-md-6>
      <fieldset class="panel panel-warning split-fields">
        <div class="panel-heading">
          <h6 class="panel-title text-center">New piece</h6>
        </div>
        <div class="panel-body">
          <%= f.fields_for :split, @split do |sf| %>
            <%= sf.hidden_field :phase %>
            <%= sf.hidden_field :master_film_id, value: @film.master_film_id %>
            <%= render 'film_fields', f: sf, film: @split %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Split", class: "btn btn-success" %>
  </div>
<% end %>
