<%= modal_form_for @film, url: create_split_film_path, dialog_class: 'wide' do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center">Split</h4>
  </div>
  <div class="modal-body row">
    <div class=col-md-6>
      <fieldset class="panel panel-warning original-fields">
        <div class="panel-heading"><h6 class="panel-title text-center"><%= @film.serial %></h6></div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :width, "Dimensions", class: "col-md-2 control-label" %>
            <div class="col-md-4">
              <%= f.number_field :width, placeholder: "Width", step: "any", class: "form-control", default: true %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :length, placeholder: "Length", step: "any", class: "form-control", default: true %>
            </div>
          </div>
          <%= f.text_field :shelf, class: "form-control" %>
          <%= render("sales_order_fields", f: f) %>
          <%= f.text_area :note, class: "form-control" %>
          <%= f.select :destination, @film.valid_destinations, { prompt: "Move to..." }, { class: "form-control", label: false } %>
        </div>
      </fieldset>
    </div>
    <div class=col-md-6>
      <fieldset class="panel panel-warning split-fields">
        <div class="panel-heading"><h6 class="panel-title text-center">New piece</h6></div>
        <div class="panel-body">
          <%= f.fields_for :split do |sf| %>
            <div class="form-group">
              <%= sf.label :width, "Dimensions", class: "col-md-2 control-label" %>
              <div class="col-md-4">
                <%= sf.number_field :width, placeholder: "Width", step: "any", class: "form-control", default: true %>
              </div>
              <div class="col-md-4">
                <%= sf.number_field :length, placeholder: "Length", step: "any", class: "form-control", default: true %>
              </div>
            </div>
            <%= sf.text_field :shelf, class: "form-control" %>
            <%= render("sales_order_fields", f: sf) %>
            <%= sf.text_area :note, class: "form-control" %>
            <%= sf.hidden_field :phase, value: @film.phase %>
            <%= sf.select :destination, @film.valid_destinations, { prompt: "Move to..." }, { class: "form-control", label: false } %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Split", class: "btn btn-success" %>
  </div>
<% end %>
