<tr id="<%= "user-#{user.id}" %>">
  <td>
    <%= link_to_modal_edit(edit_user_path(user), user) %>
  </td>
  <td class="full_name"><%= user.full_name %></td>
  <td class="username"><%= user.username %></td>
  <td class="role_title"><%= user.role_title %></td>
  <td class="chemist"><%= user.chemist %></td>
  <td class="operator"><%= user.operator %></td>
</tr>
