<%= modal_form_for @user do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center"><%= @user.full_name %></h4>
  </div>
  <div class="modal-body">
    <%= f.text_field :username, class: "form-control" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= f.select :role_level, [['User', 0], ['Supervisor', 1], ['Admin', 2]], {}, { label: "Role", class: "form-control" } %>
    <%= f.check_box :chemist %>
    <%= f.check_box :operator %>
  </div>
  <div class="modal-footer">
    <%= link_to "Delete", @user, method: :delete, class: "btn btn-danger pull-left" %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
