<%= form_tag url_for, method: :get, class: 'form-inline search' do %>
  <div class="form-group">
    <%= text_field_tag :start_date, params[:start_date], placeholder: "Start date", class: "form-control bootstrap-datepicker" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :end_date, params[:end_date], placeholder: "End date", class: "form-control bootstrap-datepicker" %>
  </div>
  <%= hidden_field_tag :group, params[:group] %>
  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
<% end %>
