<tr>
  <td><%= shipment[:display_date] %></td>
  <td><%= shipment[:relation].count %></td>
  <td><%= shipment[:relation].line_items.product_type_equals('Film').total_quantity %></td>
  <td><%= shipment[:relation].line_items.product_type_equals('Glass').total_quantity %></td>
  <td><%= shipment[:relation].line_items.total_quantity %></td>
  <td><%= number_with_precision(shipment[:relation].line_items.product_type_equals('Film').total_area, precision: 2) %></td>
  <td><%= number_with_precision(shipment[:relation].line_items.product_type_equals('Glass').total_area, precision: 2) %></td>
  <td><%= number_with_precision(shipment[:relation].line_items.total_area, precision: 2) %></td>
  <td><%= number_with_precision(shipment[:relation].avg_utilization, precision: 2) %></td>
</tr>
