<tr>
  <td><%= shipment[:display_date] %></td>
  <td><%= shipment[:relation].count %></td>
  <td><%= shipment[:relation].line_items.product_type_equals('Film').total_quantity %></td>
  <td><%= shipment[:relation].line_items.product_type_equals('Glass').total_quantity %></td>
  <td><%= shipment[:relation].line_items.total_quantity %></td>
  <td><%= format_area(shipment[:relation].line_items.product_type_equals('Film').total_area) %></td>
  <td><%= format_area(shipment[:relation].line_items.product_type_equals('Glass').total_area) %></td>
  <td><%= format_area(shipment[:relation].line_items.total_area) %></td>
  <td><%= format_utilization(shipment[:relation].avg_utilization) %></td>
</tr>
