<tr>
  <td><%= shipment[:date] %></td>
  <td><%= shipment[:order_count] %></td>
  <td><%= shipment[:film_pieces] %></td>
  <td><%= shipment[:glass_pieces] %></td>
  <td><%= shipment[:total_pieces] %></td>
  <td><%= shipment[:film_area] %></td>
  <td><%= shipment[:glass_area] %></td>
  <td><%= shipment[:total_area] %></td>
  <td><%= shipment[:avg_utilization] %></td>
</tr>
