<fieldset class="form-group line-item-fields">
  <div class="form-group">
    <%= label_tag :line_item, "Line item", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.number_field :custom_width, placeholder: "Width", class: "form-control", default: true %>
    </div>
    <div class="col-md-3">
      <%= f.number_field :custom_length, placeholder: "Length", class: "form-control", default: true %>
    </div>
    <div class="col-md-2">
      <%= f.number_field :quantity, placeholder: "Qty", class: "form-control", default: true %>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class: "remove-fields" do %>
      <span class="glyphicon glyphicon-minus"></span>remove
    <% end %>
  </div>
  <%= f.text_field :wire_length, placeholder: "Wires", label: false, class: "form-control" %>
  <div class="col-md-10 col-md-offset-2">
    <div class="form-group">
      <%= f.inline_radio :busbar_type, "Single short", "S. short" %>
      <%= f.inline_radio :busbar_type, "Single long", "S. long" %>
      <%= f.inline_radio :busbar_type, "Double short", "D. short" %>
      <%= f.inline_radio :busbar_type, "Double long", "D. long" %>
      <%= f.inline_radio :busbar_type, "Other", "Other" %>
    </div>
  </div>
  <%= f.text_area :note, placeholder: "Note", label: false, class: "form-control" %>
</fieldset>
