<tr id="<%= "lineitem-#{line_item.id}" %>" class="lineitem">
  <td><%= line_item.custom_width %></td>
  <td><%= line_item.custom_length %></td>
  <td><%= line_item.quantity %></td>
  <td><%=  line_item.product_type %></td>
  <td><%= line_item.wire_length %></td>
  <td><%= line_item.busbar_type %></td>
  <td><%= line_item.note %></td>
</tr>
