<li id="<%= "salesorder-#{sales_order.id}" %>" class="panel panel-default">
<div class="panel-heading">
  <%= link_to_modal_edit(edit_sales_order_path(sales_order), sales_order, class: "pull-left") %>
  <%= link_to_ship_or_return(sales_order) %>
  <h4 class="panel-title">
    <strong><%= sales_order.code %></strong> - <%= sales_order.customer %>
    <%= display_status(sales_order) %>
  </h4>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-6 text-left">
      <span>Ship to: <strong><%= sales_order.ship_to %><br/></strong></span>
      <span>Note: <strong><%= sales_order.note %></strong></span>
    </div>
    <div class="col-md-6 text-right">
      <span class="">Released: <strong><%= sales_order.release_date %><br/></strong></span>
      <span class="">Due: <strong><%= sales_order.due_date %></strong></span>
    </div>
  </div>
  <div class="progress text-center">
    <span>
      count: <strong><%= sales_order.count_fill_ratio %></strong> 
      area: <strong><%= sales_order.area_fill_ratio %></strong>
      utilization: <strong><%= sales_order.utilization_as_percent %></strong>
    </span>
    <div class="progress-bar progress-bar-success" style="<%= "width: #{sales_order.assigned_film_percentages_by_phase["fg"] }" %>"></div>
    <div class="progress-bar progress-bar-warning" style="<%= "width: #{sales_order.assigned_film_percentages_by_phase["wip"] }" %>"></div>
    <div class="progress-bar progress-bar-danger" style="<%= "width: #{sales_order.assigned_film_percentages_by_phase["stock"] }" %>"></div>
  </div>
  <ul class="list-inline">
    <%= render partial: "film", collection: sales_order.films %>
  </ul>
</div>
<div id="<%= "collapse-#{sales_order.id}" %>" class="panel-body panel-collapse collapse">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Width</th>
        <th>Length</th>
        <th>Qty</th>
        <th>Type</th>
        <th>Wires</th>
        <th>Busbars</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "line_item", collection: sales_order.line_items %>
    </tbody>
  </table>
</div>
<div class="panel-footer">
  <a class="accordion-toggle" data-toggle="collapse" href="<%= "#collapse-#{sales_order.id}" %>">
    <i class="fa fa-chevron-down"></i><strong>Line items</strong>
  </a>
</div>
</li>
