<%= form_tag url_for, method: :get, class: 'form-inline search' do %>
  <div class="form-group">
    <%= text_field_tag :text_search, params[:text_search], placeholder: "Search", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :ship_date_after, params[:ship_date_after], placeholder: "Start ship date", class: "form-control bootstrap-datepicker" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :ship_date_before, params[:ship_date_before], placeholder: "End ship date", class: "form-control bootstrap-datepicker" %>
  </div>
  <%= hidden_field_tag :status, params[:status] %>
  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
<% end %>
