<div>
  Orders: <strong><%= @total_orders %></strong>
  Area: <strong><%= number_with_precision(@total_area, precision: 2) %></strong>
</div>

<%= link_to_modal_new(new_sales_order_path, "Enter sales order") %>
<%= link_to "Export Orders", sales_orders_path(params.merge(format: "csv", data: "orders")), class: "btn btn-default" %>
<%= link_to "Export Line items", sales_orders_path(params.merge(format: "csv", data: "line_items")), class: "btn btn-default" %>

<%= paginate @sales_orders %>

<ol class="list-unstyled panel-group">
  <%= render @sales_orders %>
</ol>
