<div class="navbar navbar-inverse navbar-static-top">
  <%= link_to "PCMS", root_url, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="<%= 'active' if params[:controller] == 'films' %>"><%= link_to "Production", films_path(tab: "lamination") %></li>
    <li class="<%= 'active' if params[:controller] == 'master_films' %>"><%= link_to "Engineering", master_films_path %></li>
    <li class="<%= 'active' if params[:controller] == 'sales_orders' %>"><%= link_to "Orders", sales_orders_path(status: 'unshipped') %></li>
    <li class="<%= 'active' if params[:controller] == 'history' %>"><%= link_to "History", all_movements_history_path %></li>
    <li class="<%= 'active' if params[:controller] == 'charts' %>"><%= link_to "Charts", stock_formula_totals_chart_path %></li>
    <% if current_user.is_admin? %>
      <li class="<%= 'active' if params[:controller].split("/").first == 'admin' %>"><%= link_to "Admin", imports_path %></li>
    <% end %>
  </ul>
  <p class="navbar-text navbar-right">Logged in as <%= "#{current_user.full_name} (#{current_tenant.code.upcase})" %> | <%= link_to "Logout", logout_path, id: "logout", class: "navbar-link" %></p>
</div>
