<% provide :title, "Admin" %>

<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="<%= "active" if params[:action] == 'home' %>">
      <%= link_to "Import data", imports_path %></li>
    <li class="<%= "active" if params[:action] == 'index' %>">
      <%= link_to "Users", users_path %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
