<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> / PCMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid header">
    <%= render "layouts/navbar" %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg  %>
      </div>
    <% end %>
  </div>
  <div class="sidebar-fixed">
    <%= yield :sidebar %>
  </div>
  <div class="container-fluid main">
    <%= yield %>
  </div>

</body>
</html>
