<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> / PCMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
</head>
<body>
  <%= render "layouts/navbar" if current_user.present? %>
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "warning" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>
  <% if current_user.present? %>
    <div class="sidebar">
      <div class="list-group">
        <%= yield :nav_list %>
      </div>
    </div>
    <div id="forms-modal" class="modal">
    </div>
  <% end %>
  <div class="main">
    <%= yield :search_form %>
    <%= yield %>
  </div>
</body>
</html>
