<% provide :title, "Movements" %>

<% content_for :nav_list do %>
  <%= link_to "Film movements", film_movements_path, class: "list-group-item active" %>
<% end %>

<% content_for :page_head do %>
  <div class="row">
    <div class="col-md-5 search">
      <%= render 'search_form' %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:action] == 'index' %>"><%= link_to "Index", url_for(params.merge(action: 'index')) %></li>
    <li class="<%= "active" if params[:action] == 'map' %>"><%= link_to "Map", url_for(params.merge(action: 'map')) %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
