<% provide :title, "Production" %>

<% content_for :nav_list do %>
  <%= link_to "Lamination", films_path(tab: 'lamination'), class: "list-group-item#{" active" if params[:tab] == 'lamination'}" %>
  <%= link_to "Inspection", films_path(tab: 'inspection'), class: "list-group-item#{" active" if params[:tab] == 'inspection'}" %>
  <%= link_to films_path(tab: 'large_stock'), class: "list-group-item#{" active" if params[:tab] == 'large_stock'}" do %>
    <i class="fa fa-stack-overflow fa-lg"></i> Available
  <% end %>
  <%= link_to films_path(tab: 'small_stock'), class: "list-group-item#{" active" if params[:tab] == 'small_stock'}" do %>
    <i class="fa fa-stack-overflow fa-lg"></i> Small
  <% end %>
  <%= link_to films_path(tab: 'reserved_stock'), class: "list-group-item#{" active" if params[:tab] == 'reserved_stock'}" do %>
    <i class="fa fa-stack-overflow fa-lg"></i> Reserved
  <% end %>
  <%= link_to "WIP", films_path(tab: 'wip'), class: "list-group-item#{" active" if params[:tab] == 'wip'}" %>
  <%= link_to "FG", films_path(tab: 'fg'), class: "list-group-item#{" active" if params[:tab] == 'fg'}" %>
  <%= link_to "NC", films_path(tab: 'nc'), class: "list-group-item#{" active" if params[:tab] == 'nc'}" %>
  <%= link_to "Scrap", films_path(tab: 'scrap'), class: "list-group-item#{" active" if params[:tab] == 'scrap'}" %>
  <% if current_user.admin? %>
    <%= link_to films_path(tab: 'deleted'), class: "list-group-item#{" active" if params[:tab] == 'deleted'}" do %>
    <i class="fa fa-trash-o fa-lg"></i> Deleted
    <% end %>
  <% end %>
<% end %>

<% content_for :page_head do %>
  <%= render 'search_form' %>

  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:action] == 'index' %>"><%= link_to "Index", url_for(params.merge(action: 'index')) %></li>
    <li class="<%= "active" if params[:action] == 'formula_totals' %>"><%= link_to "Formula totals", url_for(params.merge(action: 'formula_totals')) %></li>
    <li class="<%= "active" if params[:action] == 'dimensions_map' %>"><%= link_to "Dimensions map", url_for(params.merge(action: 'dimensions_map')) %></li>
    <li class="<%= "active" if params[:action] == 'shelf_inventory' %>"><%= link_to "Shelves", url_for(params.merge(action: 'shelf_inventory')) %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
