<% provide :title, "Films" %>

<% content_for :nav_list do %>
  <%= sidebar_link_to(:phase, 'lamination') { "Lamination" } %>
  <%= sidebar_link_to(:phase, 'inspection') { "Inspection" } %>
  <%= sidebar_link_to(:phase, 'large_stock') do %>
    <i class="fa fa-database"></i> Available
  <% end %>
  <%= sidebar_link_to(:phase, 'small_stock') do %>
    <i class="fa fa-database"></i> Small
  <% end %>
  <%= sidebar_link_to(:phase, 'reserved') { "Reserved" } %>
  <%= sidebar_link_to(:phase, 'wip') { "WIP" } %>
  <%= sidebar_link_to(:phase, 'fg') { "FG" } %>
  <%= sidebar_link_to(:phase, 'nc') do %>
    NC<span class="badge"><%= tenant_films.phase('nc').count %></span>
  <% end %>
  <%= sidebar_link_to(:phase, 'scrap') { "Scrap" } %>
  <% if current_user.admin? %>
    <%= sidebar_link_to(:phase, 'deleted') do %>
      <i class="fa fa-trash-o fa-lg"></i> Deleted
    <% end %>
  <% end %>
<% end %>

<% content_for :search do %>
  <%= render 'search_form' %>
<% end %>

<% content_for :summary do %>
  <dl class="dl-horizontal pull-right">
    <dt>Pieces</dt>
    <dd><%= filtered_films.count(:all) %></dd>
    <dt>Area</dt>
    <dd><%= format_area(filtered_films.total_area) %></dd>
  </dl>
<% end %>

<% content_for :nav do %>
  <ul class="nav nav-tabs">
    <%= tab_link_to("Index", 'index') %>
    <%= tab_link_to("Formula totals", 'formula_totals') %>
    <%= tab_link_to("Dimensions map", 'dimensions_map') %>
    <%= tab_link_to("Shelves", 'shelf_inventory') %>
    <%= tab_link_to("Solder series", 'solder_series') %>
  </ul>
<% end %>

<%= render template: "layouts/dashboard" %>
