<% provide :title, "History" %>

<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="<%= "active" if params[:action] == 'film_movements' %>">
      <%= link_to "Film movements", film_movements_history_path %></li>
    <li class="<%= "active" if params[:action] == 'fg_film_movements' %>">
      <%= link_to "FG movements", fg_film_movements_history_path %></li>
    <li class="<%= "active" if params[:action] == 'scrap_film_movements' %>">
      <%= link_to "Scrap movements", scrap_film_movements_history_path %></li>
    <li class="<%= "active" if params[:action] == 'reserved_checkouts' %>">
      <%= link_to "Reserved checkouts", reserved_checkouts_history_path %></li>
    <li class="<%= "active" if params[:action] == 'phase_snapshots' %>">
      <%= link_to "Phase snapshots", phase_snapshots_history_path %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
