<% provide :title, "Orders" %>

<% content_for :nav_list do %>
  <%= sidebar_link_to(:status, 'in_progress') { "In Progress" } %>
  <%= sidebar_link_to(:status, 'on_hold') do %>
    On Hold<span class="badge"><%= sales_orders.status('on_hold').count %></span>
  <% end %>
  <%= sidebar_link_to(:status, 'shipped') { "Shipped" } %>
  <%= sidebar_link_to(:status, 'cancelled') { "Cancelled" } %>
<% end %>

<% content_for :search do %>
  <%= render 'search_form' %>
<% end %>

<% content_for :summary do %>
  <dl class="dl-horizontal pull-right">
    <dt>Orders</dt>
    <dd><%= filtered_orders.count(:all) %></dd>
    <dt>Quantity</dt>
    <dd><%= filtered_orders.line_items.total_quantity %></dd>
    <dt>Custom Area</dt>
    <dd><%= format_area(filtered_orders.line_items.total_area) %></dd>
  </dl>
<% end %>

<% content_for :nav do %>
  <ul class="nav nav-tabs">
    <%= tab_link_to("Index", 'index') %>
    <%= tab_link_to("Lead time histogram", 'lead_time_histogram') %>
    <%= tab_link_to("Product type totals", 'product_type_totals') %>
    <%= tab_link_to("Assigned formula totals", 'assigned_formula_totals') %>
  </ul>
<% end %>

<%= render template: "layouts/dashboard" %>
