<% provide :title, "Orders" %>

<% content_for :nav_list do %>
  <%= link_to "In Progress", sales_orders_path(status: 'in_progress'), class: "list-group-item#{" active" if params[:status] == 'in_progress'}" %>
  <%= link_to "On Hold", sales_orders_path(status: 'on_hold'), class: "list-group-item#{" active" if params[:status] == 'on_hold'}" %>
  <%= link_to "Shipped", sales_orders_path(status: 'shipped'), class: "list-group-item#{" active" if params[:status] == 'shipped'}" %>
  <%= link_to "Cancelled", sales_orders_path(status: 'cancelled'), class: "list-group-item#{" active" if params[:status] == 'cancelled'}" %>
<% end %>

<% content_for :page_head do %>
  <%= render 'search_form' %>

  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:action] == 'index' %>"><%= link_to "Index", url_for(params.merge(action: 'index')) %></li>
    <li class="<%= "active" if params[:action] == 'lead_time_histogram' %>"><%= link_to "Lead time histogram", url_for(params.merge(action: 'lead_time_histogram')) %></li>
    <li class="<%= "active" if params[:action] == 'product_type_totals' %>"><%= link_to "Product type totals", url_for(params.merge(action: 'product_type_totals')) %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>

