<% provide :title, "Shipments" %>

<% content_for :nav_list do %>
  <%= sidebar_link_to(:grouping, 'by_day') { "Daily" } %>
  <%= sidebar_link_to(:grouping, 'by_week') { "Weekly" } %>
  <%= sidebar_link_to(:grouping, 'by_month') { "Monthly" } %>
  <%= sidebar_link_to(:grouping, 'by_quarter') { "Quarterly" } %>
<% end %>

<% content_for :page_head do %>
  <div class="row">
    <div class="col-md-5 search">
      <%= render 'search_form' %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <%= tab_link_to("Index", 'index') %>
    <%= tab_link_to("Utilization", 'utilization_time_series') %>
    <%= tab_link_to("Shipped area", 'shipped_area_time_series') %>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
